@model IEnumerable<PhotoModel>

<h2>All photos</h2>

@{ 
    foreach (var item in @Model)
    {
        <p>
            <b>@item.PhotoName</b> <br/>
            <img src="@Url.Action("GetImage", new {photoid = item.Id })" 
                 width="150" alt="xyz" />
        </p>
    }
}